.box{
    width: 100%;
    height: 50px;
    background-color: aqua;
    border: 1px solid red;
}

/* HEADER */

.my-header-top{
    background-color: black;
    color: white;
}

.my-header-top img{
    height: 1.125rem;
}

.lens img{
    height: 1.8rem;
    
}

/* HERO */

.my-main-hero{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 42rem;
}

.my-main-hero img{
    width: 50%;
}

.my-hero-text{
    height: 42rem;
}

/* BANNER GAME */

.my-banner-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.my-banner-game img{
    width: 40%;
}