/* HEADER */

.my-header-top{
    background-color: black;
    color: white;
}

.my-header-top img{
    height: 1.125rem;
}

.lens img{
    height: 1.8rem;
}

.my-dropdown-toggle::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: sub;
    margin-left: .7rem;
}

.my-dropdown-toggle:hover::after{
    content: url(../img/chevron-down-solid-hover.svg);
}

/* HERO */

.my-main-hero{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 42rem;
}

.my-main-hero img{
    width: 50%;
}

.my-hero-text{
    height: 42rem;
}

.my-photo{
    padding: 1px;
    outline: 5px solid transparent;
    border-radius: 2rem;
    transition: outline 300ms ease-in-out;
}

.my-photo:hover{
    outline: 5px solid #2d64e6;
    border-radius: 2rem;
}

.my-photo img{
    border-radius: 2rem;
}

/* PRODOTTI */

#gallery-console div.my-active{
    opacity: 1;
    border-bottom: 4px solid #2d64e6;
}

#gallery-console div{
    opacity: .5;
    height: 13rem;
}

#gallery-console div:hover{
    border-bottom: 4px solid #2d64e6;
    opacity: 1;
}

/* BANNER GAME */

.my-banner-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.my-overlay{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.my-banner-game img{
    width: 40%;
}

/* GALLERY GAMES */

.my-games{
    background-color: #1f1f1f;
}

/* BANNER LIGHT */

.my-banner-light{
    background-color: #bebcbb;
}

.my-width{
    width: 60%;
}

/* BANNER DARK */

.my-banner-dark{
    background-color: #161c3b;
}

/* SOCIAL */

ul.i-social li{
    width: calc(100% / 2);
}

@media (min-width: 576px) {

    ul.i-social li{
        width: calc(100% / 4);
    }
}

@media (min-width: 768px) {

    ul.i-social li{
        width: calc(100% / 6);
    }
}

@media (min-width: 992px) {

    ul.i-social li{
        width: calc(100% / 8);
    }
}

/* FOOTER */

footer{
    background-color: #00439c;
}

footer a, footer a:hover, footer a:visited{
    text-decoration: none;
    color: white;
}

.ps-logo-footer{
    height: 5rem;
}

.globe{
    height: 1rem;
}

.sie-logo{
    height: 4rem;
}

footer ul li{
    margin-bottom: .8rem;
}