.box{
    width: 100%;
    height: 50px;
    background-color: aqua;
    border: 1px solid red;
}

.my-header-top{
    background-color: black;
    color: white;
}

.my-header-top img{
    height: 1.125rem;
}

.lens img{
    height: 1.8rem;
    
}